 html {
     scroll-behavior: smooth;
 }

 body {
     margin: 0;
     padding: 0;
     display: grid;
     grid-template-columns: 1fr 10%;
     background-image: url(images/21.jpg);
     background-repeat: no-repeat;
     background-size: contain;
 }

 @media (min-width: 576px) {
     body {
         grid-template-columns: 1fr 3fr 10%;
     }
 }

 /*
@media (min-width: 576px) {
    .body {
        grid-template-columns: 1fr 540px 10%;
    }

    
}

@media (min-width: 768px) {
    .body{
        grid-template-columns: 1fr 720px 10%;
    }
}

@media (min-width: 992px) {
    .body {
        grid-template-columns: 1fr 960px 10%;
    }
}

@media (min-width: 1200px) {
    .body {
        grid-template-columns: 1fr 1140px 10%;
    }
}
*/





 nav {
     white-space: nowrap;
     background: ;
     min-width: 5px;
     grid-row: 2;
 }

 @media (min-width: 576px) {
     nav {
         grid-row: 1;
     }
     
     
     
     
     
     
     
     
     
     
     
     
     
     
 }







 nav ul {
     list-style: none;
     margin: 0;
     padding: 60px;
     min-width: 10%;
 }

 /* Only stick if you can fit */
 @media (min-height: 300px) {
     nav ul {
         position: sticky;
         top: 0;
     }
 }

 nav ul li a {
     display: block;
     margin: 30px;
     color: #3953A4;
     text-decoration: none;
     font-family: 'Anton', sans-serif;
     font-size: 20px;
     line-height: 10px;

 }

 nav ul li a.current {
     background: black;
 }


 section {

     margin: 0 0 2rem 0;
 }

 footer {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-column: 1 / 4;
     background-image: url(images/21.jpg);
     background-size: contain;
     padding: 5rem 1rem;
     background-repeat: repeat;
 }

 .page1 {
     margin: 0 0px;
     height: 100vh;
     display: grid;
     width: 100%;
     justify-items: center;
     align-items: center;
     background-color: ;

 }

 .circle {
     justify-self: center;
     width: 7em;
     height: 7em;
     border-radius: 100%;
     border-style: solid;
     border-color: #5A89FF;
     background-image: url(images/logo.png);
     background-repeat: no-repeat;
     background-size: cover;
     transition: 1s;
     margin: 10px;
 }

 .c {
     width: 100%;
     display: grid;
     align-items: center;
     background-color: ;
 }

 .circle:hover {
     transform: rotate(360deg);
 }

 /*
.text {
    display: grid;
    grid-auto-rows: 80px;
    padding: 0;
    margin: 0;
    
}
*/


 .port {
     font-size: 6vw;
     color: #fff;
     justify-self: center;
 }

 .ap {
     font-size: 1vw;
     color: #fff;
     justify-self: center;
     font-family: 'Arimo';
     letter-spacing: 5px;

 }


 .port {
     position: relative;
     font-family: sans-serif;
     text-transform: uppercase;
     overflow: hidden;
     background: linear-gradient(90deg, #000, #5A89FF, #000);
     background-repeat: no-repeat;
     background-size: 80%;
     animation: animate 3s linear infinite;
     -webkit-background-clip: text;
     -webkit-text-fill-color: rgba(13, 133, 216, 0.1);
 }

 @keyframes animate {
     0% {
         background-position: -500%;
     }

     100% {
         background-position: 500%;
     }
 }


 .page2 {
     margin: 0 0px;
     height: 100vh;
     display: grid;
     grid-template-rows: 1fr;
     justify-items: center;
     align-items: center;
     background-image: url(images/33.png);
     background-size: contain;
     background-repeat: no-repeat;

 }

 .container1 {
     display: flex;
     width: 80%;
     box-sizing: border-box;
     height: 80vh;
 }

 .box {
     flex: 1;
     overflow: hidden;
     transition: .5s;
     margin: 0 2%;
     box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
     line-height: 0;
 }

 .box > img {
     width: 200%;
     height: calc(100% - 10vh);
     object-fit: cover;
     transition: .5s;
 }

 .box > span {
     font-size: 3.8vh;
     font-family: 'Anton', sans-serif;
     display: block;
     text-align: center;
     height: 10vh;
     line-height: 2.6;
 }

 .box:hover {
     flex: 1 1 50%;
 }

 .box:hover > img {
     width: 100%;
     height: 100%;
 }


 .all3 {
     padding: 0;
     margin: 0;
     height: 100%;
     display: grid;
     background-color: ;

 }

 .page3 {

     display: grid;
     grid-template-rows: 6fr 4fr 1fr 3fr 3fr;
     grid-template-columns: 7fr 5fr 3fr 1fr 6fr;
     background-color: ;
     height: 98%;
     max-width: 90%;
     align-self: center;
     justify-self: center;
     background-image: ;
     background-size: contain;
     background-repeat: no-repeat;

 }


 .text3 {
     background-color: ;
     grid-row: 1;
     grid-column: 1/2;
     display: grid;
     align-items: center;
     font-size: 2vw;
     font-family: 'Comfortaa', cursive;
     color:#020032;

 }

 .text3 p {}


 .info {
     font-family:'Roboto', sans-serif;
     grid-row: 2/6;
     grid-column: auto;
     background-color: ;
     width: 80%;
     height: auto;
     font-size: 1vw;
 }


 .nado {
     background-color: ;
     grid-row: 1/3;
     grid-column: 3/6;




 }

 .nado img {
     width: 100%;
 }

 .nado2 {
     background-color: ;
     grid-row: 4/6;
     grid-column: 5;
 }

 .nado2 img {
     width: 100%;
     cursor: pointer;
 }

 .nado3 {
     background-color: ;
     grid-row: 2/5;
     grid-column: 2/4;
     order: 1;
 }

 .nado3 img {
     width: 100%;
     cursor: pointer;

 }


 .page3 img:hover {
     filter: grayscale(100%);
     transform: scale(1.15, 1.15);
 }

 .page3 img {
     transition: 1s;
 }





 /*footer*/

 .box span {
     color: #020032;
 }

 .t {
     grid-column: 2;
     align-self: center;
     padding: 20px;
     color: white;
 }

 /*footer*/



 .page5 {
     padding: 0;
     margin: 0;
     height: 100vh;
     display: grid;
     /*
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
*/
     grid-template-columns: 3fr 1fr 5fr;
     grid-template-rows: 2fr 3fr 3fr;
     background-image: url(images/about.jpg);
     background-size: contain;
     background-repeat: no-repeat;
 }


/*
.nameabout {
    grid-column: 1;
     grid-row:2;
}
.nameabout p{
    font-size:3vw;
    
    font-family: 'Happy Sprat Cyrillic 2 Regular';
    
}
*/
 .photo {
     display: grid;
     background-color: ;
     grid-column: 3;
     grid-row: 1/4;
     background-color: ;


 }

 .photo img {
     width: 80%;
     justify-self:end;
     align-self: center;
     transition: 1s ease-in-out;
 }

 .photo img:hover {

/*     transform: scale(1.15, 1.15);*/

 }




 .aboutme {
     min-width: auto;
     background-color: ;
     grid-column: 1/3;
     grid-row:3;
     display: grid;

 }

 .aboutme p {
     width: 80%;
     height: auto;
     align-self: start;
     justify-self: center;


 }

 .container {
     max-width: 800px;
     background-color: ;
     justify-self: center;


 }

 /* Cards */
 .card-column {
     width: 50%;
     float: left;
     padding: 3%;
     box-sizing: border-box;
 }

 .column-1 {
     padding-top: 100px;
 }

 .card {
     width: 92%;
     height: 90%;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     background: #EB5160;
     color: #000;
     margin-bottom: 60px;
 }

 .border {
     position: absolute;
     width: 100%;
     height: 100%;
     padding: 6px;
     border: 1px solid #150f21;
     opacity: 0.5;
     left: -6px;
     top: -6px;
 }

 .card h1 {
    font-family: 'Arimo';
     position: relative;
     padding: 200px 0px 10px 10px;
     width: 100%;
 }

 .card h4 {
     font-family:'Roboto', sans-serif;

     line-height: 20px;
     position: relative;
     padding: 0px;
     margin-left: 2em;
     width: 60%;
 }

 /*
.card > img {
  width: 100%;
  position: absolute;
  top: -6%;
  left: -6%;
}
*/
 .card > a img {
     width: 100%;
     position: absolute;
     top: -6%;
     left: -6%;
     z-index:1;
    transition: 1s;
     
     

 }


.card > a img:hover {
    filter: grayscale(100%);
    transform: scale(1.15, 1.15); 
    
 }




 .card-color-0 {
     background-color: #fff;
 }

 .card-color-1 {
     background-color: #fff;
 }

 .card-color-2 {
     background-color: #fff;
 }

 .card-color-3 {
     background-color: #fff;
 }

 .page4 {
     display: grid;

     padding: 0;
     margin: 0;
     height: 180vh;
     background-color: ;
     background-image: url(images/ing.jpg);
     background-size: contain;
     background-repeat: no-repeat;

 }

 .design {
     height: 30%;
     width: auto;
     background-color: ;
     display: grid;

 }

 .design p {
     font-size:2vw;
     align-self: center;
     font-family:'Comfortaa', cursive;
     color:#020032;

 }

 .page6 {
     padding: 0;
     margin: 0;
     height: 100vh;
     display: grid;
     grid-gap: 2em;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     background-color: ;
 }

 .wall {
     display: grid;
     background-color:;
     grid-row: 3;
     font-family:'Roboto', sans-serif;

 }

.wall p {
    
}

 .serv {
     grid-row: 1;
     display: grid;

 }
.serv p {
   font-size: 2vw;
   align-self: flex-end;
   font-family: 'Comfortaa', cursive;
    color:#020032;
}

 .cont {
     background: ;
     grid-row: 4/5;
     grid-column: 1/5;
     display: grid;
 }

 .cont a {
     text-decoration: none;
     font-size: 2vw;
     align-self: start;
     justify-self: center;
     font-family: 'Anton';
     color: #3953A4;

 }

 .gram {
     width: 50%;
     grid-row: 2;
/*     background-color:#3953A4;*/
     justify-self: center;
     align-self: end;
     
 }

.gram img {
    width:60%;
}
